{% extends "base.html" %}
{% load staticfiles %}
{% block content %}


  <div class="form-group  is-empty">

    <div class="row">
      <div class="col-md-4">
        <a href="{% url 'retrain_adm_imagen' %}" onclick="ejecutarBP()" class="btn btn-rose"><i class="material-icons">autorenew</i> Retrain</a>
        <a href="{% url 'evaluate_adm_imagen' %}" onclick="ejecutarBP2()" class="btn btn-rose"><i class="material-icons">assignment_turned_in</i> Evaluate</a>
      </div>

    </div>
  </div>

<div class="card">
  <div class="card-header" data-background-color="rose">
    <h4 class="card-title">Mammographies</h4>
    <p class="category">List of Mammographies for learning</p>
  </div>
  <div class="card-content table-responsive table-full-width">
    <div class="" id="carga" hidden="true">
      <legend class="text-rose text-center">Learning...</legend>
      <div class="text-center">
        <img src="{% static 'img/loading.gif' %}" style="max-width:5%;"/>
      </div>
    </div>
    <div class="" id="carga2" hidden="true">
      <legend class="text-rose text-center">Evaluating...</legend>
      <div class="text-center">
        <img src="{% static 'img/loading.gif' %}" style="max-width:5%;"/>
      </div>
    </div>
    <table class="table table-hover" id="tabla_et" name="tabla_et">
      <thead class="text-danger">
        <th><i class="fa fa-folder text-danger"></i> LABEL</th>
        <th>CONTENT</th>
        <th>ACTIONS</th>
      </thead>
      <tbody>
        {% for dtl in dirs_to_learn %}
          <tr>
            <td><a class="btn btn-primary btn-simple"><i class="material-icons">folder</i>{{dtl.nm}}</a></td>
            <td class="info-title">{{dtl.cn}} images</td>
            <td class="td-actions">
              <a href="{% url 'crear_adm_imagen' dtl.nm dtl.cn %}" class="btn btn-success " data-toggle="tooltip" data-placement="top" title="Add images"><i class="material-icons">add_a_photo</i></a>
              <a href="#" class="btn btn-info " data-toggle="tooltip" data-placement="top" title="View images"><i class="material-icons">remove_red_eye</i></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <!-- {% static 'img/side.png' %} -->
  </div>
</div>
{% endblock content %}
{% block jscrpt %}
<script type="text/javascript">
function ejecutarBP(){
  $("#carga").show();
}
function ejecutarBP2(){
  $("#carga2").show();
}

</script>
{% endblock jscrpt %}
