{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<form class="navbar-form" method="post" action="">{% csrf_token %}
  <div class="form-group  is-empty">

    <div class="row">
      <div class="col-md-3">
        <a href="{% url 'crear_tipo_cancer' %}" class="btn btn-primary"><i class="material-icons">playlist_add</i> Nuevo</a>
      </div>

      <div class="col-md-4">
        <a href="{% url 'tipo_cancer' %}" class="btn btn-primary"><i class="material-icons">person</i> Ver activos</a>
      </div>

      <div class="col-md-5">
        <input type="text" id="busca" name="busca" class="form-control" placeholder="tipo de cancer...">
        <button type="submit" class="btn btn-white btn-round btn-just-icon">
          <i class="material-icons">search</i><div class="ripple-container"></div>
        </button>
      </div>
    </div>

  </div>
</form>

<div class="card">
  <div class="card-header" data-background-color="rose">
    <h4 class="card-title">Historiales clinicos</h4>
    <p class="category">Listado de historiales clinicos</p>
  </div>
  <div class="card-content table-responsive table-full-width">
    <table class="table table-hover">
      <thead class="text-danger">
        <th>ID</th>
        <th>NOMBRES</th>
        <th WIDTH="10">DESCRIPCION</th>
        <th>ESTADO</th>
        <th>OPCIONES</th>
      </thead>
      <tbody>
        {% for tipo in tip %}
        <tr>
          <td>{{ tipo.tc_id }}</td>
          <td>{{ tipo.tc_nombre }}</td>
          <td><textarea name="txar" rows="3" cols="35" style="text-align:justify" disabled>{{ tipo.tc_descripcion }}</textarea></td>
          <td>{{ tipo.tc_estado }}</td>
          <td class="td-actions">
            <a href="{% url 'restaurar_tipo_cancer' tipo.tc_id %}" class="btn btn-info btn-just-icon" data-toggle="tooltip" data-placement="top" title="Restaurar"><i class="material-icons">undo</i></a>
            <a href="{% url 'borrar_p_tipo_cancer' tipo.tc_id %}" class="btn btn-danger btn-just-icon" data-toggle="tooltip" data-placement="top" title="Eliminar permanentemente"><i class="material-icons">delete_forever</i></a>
          </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>

  </div>
</div>
{% endblock content %}
{% block jscrpt %}
<script type="text/javascript">
$('[data-toggle="tooltip"]').tooltip();
</script>
{% endblock jscrpt %}
