{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header" data-background-color="green">
          <i class="material-icons">image</i>
        </div>
        <div class="card-content">
          <p class="category">Imágenes</p>
          <h3 class="title">{{img_c_rec}}</h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">visibility</i> Para reconocimiento
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header" data-background-color="orange">
          <i class="material-icons">contacts</i>
        </div>
        <div class="card-content">
          <p class="category">Pacientes</p>
          <h3 class="title">{{hc_c}}</h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">assignment</i> Historiales clinicos
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header" data-background-color="red">
          <i class="material-icons">person</i>
        </div>
        <div class="card-content">
          <p class="category">Usuarios</p>
          <h3 class="title">{{admins_c}} | {{users_c}}</h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">group</i> Administradores | Usuarios
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header" data-background-color="purple">
          <i class="material-icons">wallpaper</i>
        </div>
        <div class="card-content">
          <p class="category">Imágenes</p>
          <h3 class="title">0</h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">center_focus_weak</i> Aprendidas
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header card-chart" data-background-color="green">
          <div class="ct-chart" id="dailySalesChart"></div>
        </div>
        <div class="card-content">
          <h4 class="title">Analisis mensuales</h4>
          <p class="category"><span class="text-success"><i class="fa fa-long-arrow-up"></i> 55%  </span> de los analisis.</p>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">access_time</i> actualizado hace 4 min.
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="col-md-4">
      <div class="card">
        <div class="card-header card-chart" data-background-color="red">
          <div class="ct-chart" id="completedTasksChart"></div>
        </div>
        <div class="card-content">
          <h4 class="title">Completed Tasks</h4>
          <p class="category">Last Campaign Performance</p>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">access_time</i> campaign sent 2 days ago
          </div>
        </div>
      </div>
    </div> -->

    <div class="col-md-6">
      <div class="card">
        <div class="card-header card-chart" data-background-color="orange">
          <div class="ct-chart" id="emailsSubscriptionChart"></div>
        </div>
        <div class="card-content">
          <h4 class="title">Todos los analisis</h4>
          <p class="category">Analisis de mamografias</p>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">access_time</i> campaign sent 2 days ago
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block jscrpt %}
<script type="text/javascript">
$( document ).ready(function() {
  initDashboardPageCharts();
});

function initDashboardPageCharts(){

    /* ----------==========     Daily Sales Chart initialization    ==========---------- */

    dataDailySalesChart = {
        labels: ['Normal', 'Benigno', 'Maligno'],
        series: [
            [4.5, 3, 1.5]
        ]
    };

    optionsDailySalesChart = {
        lineSmooth: Chartist.Interpolation.cardinal({
            tension: 0
        }),
        animation: true,

        low: 0,
        high: 5, // creative tim: we recommend you to set the high sa the biggest value + something for a better look
        chartPadding: { top: 20, right: 0, bottom: 0, left: 0},
    }

    var dailySalesChart = new Chartist.Line('#dailySalesChart', dataDailySalesChart, optionsDailySalesChart);

    md.startAnimationForLineChart(dailySalesChart);



    /* ----------==========     Completed Tasks Chart initialization    ==========---------- */

    dataCompletedTasksChart = {
        labels: ['Normal', 'Benigno', 'Maligno'],
        series: [
            [40, 20, 9]
        ]
    };

    optionsCompletedTasksChart = {
        lineSmooth: Chartist.Interpolation.cardinal({
            tension: 0
        }),
        low: 0,
        high: 250, // creative tim: we recommend you to set the high sa the biggest value + something for a better look
        chartPadding: { top: 20, right: 0, bottom: 0, left: 0}
    }

    var completedTasksChart = new Chartist.Line('#completedTasksChart', dataCompletedTasksChart, optionsCompletedTasksChart);

    // start animation for the Completed Tasks Chart - Line Chart
    md.startAnimationForLineChart(completedTasksChart);



    /* ----------==========     Emails Subscription Chart initialization    ==========---------- */

    var dataEmailsSubscriptionChart = {
      labels: ['Normal', 'Benigno', 'Maligno'],
      series: [
        [30, 12, 4]

      ]
    };
    var optionsEmailsSubscriptionChart = {
        axisX: {
            showGrid: false
        },
        low: 0,
        high: 35,
        chartPadding: { top: 20, right: 0, bottom: 0, left: 0}
    };
    var responsiveOptions = [
      ['screen and (max-width: 640px)', {
        seriesBarDistance: 5,
        axisX: {
          labelInterpolationFnc: function (value) {
            return value[0];
          }
        }
      }]
    ];
    var emailsSubscriptionChart = Chartist.Bar('#emailsSubscriptionChart', dataEmailsSubscriptionChart, optionsEmailsSubscriptionChart, responsiveOptions);

    //start animation for the Emails Subscription Chart
    md.startAnimationForBarChart(emailsSubscriptionChart);

}
</script>
{% endblock jscrpt %}
