<!DOCTYPE html>
<html>
{% if user.is_authenticated %}
<script type="text/javascript">
setTimeout("window.location.href = '{%url 'inicio'%}'", 0,5);
</script>
{% endif %}
<head lang="es">
  {% load staticfiles %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>SCANM</title>
  <link type="image/x-icon" href="{% static 'img/logob.png' %}" rel="shortcut icon"/>

  {% block css %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/material-dashboard.css' %}">
  <link rel="stylesheet" href="{% static 'css/demo.css' %}">
  <!-- <link rel="stylesheet" href="{% static 'css/estiloss.css' %}"> -->
  {% endblock css %}

  {% block fuentes_iconos %}
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
  {% endblock fuentes_iconos %}

  {% block js %}
  <script src="{% static 'js/jquery-3.1.1.min.js' %}" ></script>
  <script src="{% static 'js/jquery-ui.min.js' %}" ></script>
  <script src="{% static 'js/bootstrap.min.js' %}" ></script>
  <script src="{% static 'js/material.min.js' %}" ></script>
  <script src="{% static 'js/perfect-scrollbar.jquery.min.js' %}" ></script>
  <script src="{% static 'js/jquery.validate.min.js' %}" ></script>
  <script src="{% static 'js/moment.min.js' %}" ></script>
  <script src="{% static 'js/chartist.min.js' %}" ></script>
  <script src="{% static 'js/jquery.bootstrap-wizard.js' %}" ></script>
  <script src="{% static 'js/bootstrap-notify.js' %}" ></script>
  <script src="{% static 'js/jquery.sharrre.js' %}" ></script>
  <script src="{% static 'js/bootstrap-datetimepicker.js' %}" ></script>
  <script src="{% static 'js/jquery-jvectormap.js' %}" ></script>
  <script src="{% static 'js/nouislider.min.js' %}" ></script>
  <script src="{% static 'js/jquery.select-bootstrap.js' %}" ></script>
  <script src="{% static 'js/jquery.datatables.js' %}" ></script>
  <script src="{% static 'js/sweetalert2.js' %}" ></script>
  <script src="{% static 'js/jasny-bootstrap.min.js' %}" ></script>
  <script src="{% static 'js/fullcalendar.min.js' %}" ></script>
  <script src="{% static 'js/jquery.tagsinput.js' %}" ></script>
  <script src="{% static 'js/material-dashboard.js' %}" ></script>
  <script src="{% static 'js/demo.js' %}" ></script>
  {% endblock js %}
</head>
<body style="background-image: url('{% static 'img/fondo.jpg' %}'); background-size: cover; background-position: top center;">
  <!-- <div class="header header-filter" style="background-image: url('{% static 'img/fondo.jpg' %}'); background-size: cover; background-position: top center;"> -->
  <div class="wrapper wrapper-full-page">
    <div class="full-page">
      <div class="content">
        <div class="container">
          <div style="margin-top:10%"></div>
          <div class="row">
            <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
              <form method="post" action="">{% csrf_token %}
                <div class="card card-login card-hidden">
                  <div class="card-header text-center" data-background-color="rose">
                    <h4 class="card-title">SCANM</h4>
                    <img src="{% static 'img/logow.png' %}" style="max-width:15%">
                  </div>
                  <div class="card-content">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="material-icons">face</i>
                      </span>
                      {{ form.cedula }}
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="material-icons">lock_outline</i>
                      </span>
                      {{ form.password }}
                    </div>
                  </div>
                  <div class="footer text-center">
                    <button type="submit" class="btn btn-rose btn-wd btn-md">Ingresar</button>
                  </div>
                  <div class="stats text-center">
                    ¿No tiene una cuenta?. <a class="btn btn-rose btn-simple btn-sm" href="{% url 'registro' %}">Registrese</a>
                  </div><br>
                  {% if mensaje != 'nada' %}

                  <div class="text-center">
                    <div class="alert alert-danger">
                      <div class="container-fluid">
                        <div class="alert-icon">
                          <i class="material-icons">error_outline</i>
                        </div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true"><i class="material-icons">clear</i></span>
                        </button>
                        <span>{{mensaje}}</span>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <nav class="pull-left">
            <ul>
              <li>
                <a href="https://www.utmachala.edu.ec/portalwp/">
                  UTMACH
                </a>
              </li>
              <li>
                <a href="#">
                  Acerca de nosotros
                </a>
              </li>
              <li>
                <a href="#">
                  Participantes
                </a>
              </li>
              <li>
                <a href="#">
                  Lideres del proyecto
                </a>
              </li>
            </ul>
          </nav>
          <p class="copyright pull-right">
            &copy; 2016, made with <i class="fa fa-heart heart"></i> by <a href="https://www.utmachala.edu.ec/portalwp/" target="_blank">UTMACH</a>
          </p>
        </div>
      </footer>
    </div>
  </div>

  {% block content %}
  {% endblock content %}
</body>
{% block jscrpt %}
{% endblock jscrpt %}
</html>
