<div class="wrapper">
  <div class="header header-filter" style="background-image: url('{% static 'img/fondo.jpg' %}'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <div class="card card-signup" style="margin-top:5%;">
            <form class="form" method="post" onsubmit= "return validar_formulario()">{% csrf_token %}
              <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                  <div class="header header-primary text-center ">
                    <h4><i class="material-icons">face</i> Complete todos los campos para registrarse</h4>
                  </div>
                </div>
              </div>
              <div class="content row">
                <div class="col-sm-10 col-sm-offset-1">
                  <div class="row">
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="input-group">
                          <span class="input-group-addon">
                            <i class="material-icons">featured_video</i>
                          </span>
                          {{ form.cedula }}
                          <span class="text-danger">{{ form.errors.cedula.as_text }}</span>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="input-group">
                          <span class="input-group-addon">
                            <i class="material-icons">face</i>
                          </span>
                          {{ form.nombres }}
                          <span class="text-danger">{{ form.errors.nombres.as_text }}</span>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="input-group">
                          <span class="input-group-addon">
                            <i class="material-icons">face</i>
                          </span>
                          {{ form.apellidos }}
                          <span class="text-danger">{{ form.errors.apellidos.as_text }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="input-group">
                          <span class="input-group-addon">
                            <i class="material-icons">person_pin</i>
                          </span>
                          {{ form.direccion }}
                          <span class="text-danger">{{ form.errors.direccion.as_text }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="input-group">
                          <span class="input-group-addon">
                            <i class="material-icons">email</i>
                          </span>
                          {{ form.e_mail }}
                          <span class="text-danger">{{ form.errors.e_mail.as_text }}</span>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="input-group">
                          <span class="input-group-addon">
                            <i class="material-icons">phone</i>
                          </span>
                          {{ form.telefono }}
                          <span class="text-danger">{{ form.errors.telefono.as_text }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="input-group">
                          <span class="input-group-addon">
                            <i class="material-icons">face</i>
                          </span>
                          {{ form.sexo }}
                          <span class="text-danger">{{ form.errors.sexo.as_text }}</span>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="input-group label-floating">
                          <span class="input-group-addon">
                            <i class="material-icons">date_range</i>
                          </span>
                          {{ form.fecha_de_nacimiento }}

                          <span class="text-danger">{{ form.errors.fecha_de_nacimiento.as_text }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="input-group">
                          <span class="input-group-addon">
                            <i class="material-icons">lock_outline</i>
                          </span>
                          <input class="form-control" type="password" name="contra" id="contra" value="" placeholder="Escriba su contrasenia">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="input-group">
                          <span class="input-group-addon">
                            <i class="material-icons">lock_outline</i>
                          </span>
                          <input class="form-control" type="password" name="contra_r" id="contra_r" value="" placeholder="Repita su contrasenia">
                          <span class="text-danger" id="err_contra">* Las claves no coinciden</span>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="footer text-center row">
                <a class="btn btn-danger" href="{% url 'login' %}">Cancelar</a>
                <button class="btn btn-success" type="submit">Guardar</button>

                <!-- <div class="stats">
                <i class="material-icons text-danger">warning</i> <a href="#pablo">Get More Space...</a>
              </div> -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <nav class="pull-left">
        <ul>
          <li>
            <a href="https://www.utmachala.edu.ec/portalwp/">
              UTMACH
            </a>
          </li>
          <li>
            <a href="#">
              Acerca de nosotros
            </a>
          </li>
          <li>
            <a href="#">
              Participantes
            </a>
          </li>
          <li>
            <a href="#">
              Lideres del proyecto
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright pull-right">
        &copy; 2016, made with <i class="fa fa-heart heart"></i> by <a href="https://www.utmachala.edu.ec/portalwp/" target="_blank">UTMACH</a>
      </div>
    </div>
  </footer>

</div>

</div>
