{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="">
      <div class="card">
        <div class="card-header" data-background-color="rose">
          <h4 class="card-title">Add pictures</h4>
          <p class="category">Images for learning</p>
        </div>
        <div class="card-content">
          <div class="" id="carga">
            <legend class="text-rose text-center">Preprocessing images...</legend>
            <div class="text-center">
              <img src="{% static 'img/loading.gif' %}" style="max-width:5%;"/>
            </div>
          </div>
          <form method="post" onsubmit= "ejecutarBP()" class="form-horizontal" action="" ENCTYPE="multipart/form-data">{% csrf_token %}
            <div class="row">
              <div class="col-md-offset-4">
                <div class="col-md-6">
                  <div class="text-center">
                    <div class="form-group label-floating">
                      <a class="btn btn-success">
                        <span class="btn-label">
                          <i class="material-icons">add_a_photo</i>
                        </span>
                        Select images
                        <input type="file" multiple="true" name="imgad_ruta" id="id_imgad_ruta" accept="image/jpg,image/png,image/jepg,image/gif,image/bmp"/>
                      </a>
                    </div>
                    <div class="form-group label-floating">
                      <textarea id="ver_ruta" placeholder="Mammography pictures..." class="form-control" style="text-align:center" disabled></textarea>
                        <!-- <input id="ver_ruta" type="text" value="" placeholder="Mammography pictures..." class="form-control" disabled/> -->
                    </div>
                  </div>
                </div>
                </div>
            </div>
            <div class="text-center">
              <a href="{% url 'adm_imagen' %}" class="btn btn-danger pull-center">Cancel</a>
              <button type="submit" class="btn btn-success pull-center">Save</button>
              <div class="clearfix"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block jscrpt %}
<script type="text/javascript">
$( document ).ready(function() {
  $("#carga").hide();
});

//-------------------------------------------------------------------------------------------------
$("#id_imgad_ruta").change(function(e) {
  var x = document.getElementById("id_imgad_ruta");
  if ('files' in x) {
    if (x.files.length == 0) {
    } else {
      $("#ver_ruta").val(""+x.files.length+" files");
      // for (var i = 0; i < x.files.length; i++) {
      //   var file = x.files[i];
      //   if ('name' in file) {
      //     $("#ver_ruta").val(""+file.name);
      //   }
      // }
      // $("#ver_ruta").val(""+file.name);
    }
  }
});
function ejecutarBP(){
  $("#carga").show();
}
</script>
{% endblock jscrpt %}
