{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<form method="post">{% csrf_token %}
<input type="text" name="contador" id="contador" style="display:none" value="">
<div class="card">
  <div class="card-header" data-background-color="purple">
    <h4 class="title">Seleccionar areas sospechosas de imagen</h4>
    <p class="category">Marque las areas que considere sospechosas de cancer</p>
  </div>
  <div class="card-content">
    <div class="row">
      <div class="col-md-6">
        <img src="{{ img.imgad_ruta }}" id="imgp" style="display:none">
        <div align="center">
          <canvas id="canvas" width="1200" height="500" style="display:none"></canvas>
        </div>
      </div>

      <!--..................................................canvas ..................................................................  -->
      <br>
      <div class="col-md-5" >
        <div class="table-responsive">
          <table class="table table-striped" id="tablaR" height="200px">
            <thead>
              <tr>
                <th>#</th>
                <th>Posicion en X</th>
                <th>Posicion en Y</th>
                <th>Ancho</th>
                <th>Alto</th>
                <th>Eliminar</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
          <div align="center">
            <button class="btn btn-primary" type="submit" name="button">Enviar</button>
          </div>
          <input type="number" id="contar" name="contar" style="display: none">
        </div>
      </div>
    </div>
  </div>
</div>
</form>
{% endblock content %}
{% block jscrpt %}
<script type="text/javascript">
// function quitar(){
//     if (contN > 1) {
//         $('#tablaR tr:last').remove()
//         contN--;
//     }
// }

// function pantalla(){
//       alert($('input[type=file]').val());
//       $("#my_image").attr("src",$('input[type=file]').val());
// }


var conrec=0;
var recuadros=new Array();
var recuadro;
var miLienzo; // el canvas
var contexto; // el contexto
var canvasLimites; // los margenes del canvas
var paint=false; // nos dice si pintar o no
var mbegin; // info de mi cuadro (x,y)
var mend; // info de mi cuadro (width,height)
var contRegistros=0;

$(document).on('click', '.borrar', function (event) {
  event.preventDefault();
  conrec-=1;
  $(this).closest('tr').remove();
  guardarContador();
});

function guardarContador(){
    var cont_vist = document.getElementById("contar");
    cont_vist.value = ""+conrec;
}

function leerarray(){
  var recc=recuadros[recuadros.length-1];
  // alert("*"+recc[0]+" | "+recc[1]+" | "+recc[2]+" | "+recc[3]+" | "+recc[4]);
  $('#tablaR tr:last').after(
    '<tr>'
    +'<td>'+recc[0]+'</td>'
    +'<td>'+Math.round(recc[1])+'<input type="text" id="x'+conrec+'" name="x'+conrec+'" value="'+Math.round(recc[1])+'" style="display:none"></td>'
    +'<td>'+Math.round(recc[2])+'<input type="text" id="y'+conrec+'" name="y'+conrec+'" value="'+Math.round(recc[2])+'" style="display:none"></td>'
    +'<td>'+Math.abs(Math.round(recc[3]))+'<input type="text" id="ancho'+conrec+'" name="ancho'+conrec+'" value="'+Math.abs(Math.round(recc[3]))+'" style="display:none"></td>'
    +'<td>'+Math.abs(Math.round(recc[4]))+'<input type="text" id="alto'+conrec+'" name="alto'+conrec+'" value="'+Math.abs(Math.round(recc[3]))+'" style="display:none"></td>'
    +'<td><button type="button" class="borrar btn btn-danger btn-just-icon"><i class="material-icons">delete</i></button></td>'
    +'</tr>');
  }
  function prepareCanvas(){
    miLienzo=document.getElementById("canvas");

    //tamanio del lienzo
    // alert(document.getElementById("imgp").width+" x "+document.getElementById("imgp").height);
    miLienzo.width=document.getElementById("imgp").width;
    miLienzo.height=document.getElementById("imgp").height;
    miLienzo.style="border:1px solid;background: url({{ img.imgad_ruta }}) no-repeat;";

    contexto= miLienzo.getContext("2d"); // obtenemos el contexto ( dibujar en 2d)
    canvasLimites=miLienzo.getBoundingClientRect(); // obtenemos los limites del canvas
    miLienzo.addEventListener('mousedown',down,false);
    miLienzo.addEventListener('mouseup',up,false);
    miLienzo.addEventListener('mousemove',pintarCuadro,false);
    miLienzo.style.cursor="pointer";
  }

  function down(e) {
    mbegin=obtenerCoordenadas(e);
    paint= true;
  }

  function up(e) {
    paint= false;
    mend=obtenerBounds(e);
    recuadro.push(mend.w);
    recuadro.push(mend.h);
    recuadros.push(recuadro);
    leerarray();

  }

  function pintarCuadro(e) {
    if(paint){
      mend=obtenerBounds(e);
      contexto.clearRect(0,0,miLienzo.width,miLienzo.height);
      dibujarCuadro();
    }
  }

  function obtenerCoordenadas(event){
    var posX;
    var posY;

    if (event.pageX || event.pageY) {
      posX = event.pageX- canvasLimites.left;
      posY = event.pageY- canvasLimites.top;

      conrec+=1;
      recuadro=new Array();
      recuadro.push(conrec);
      recuadro.push(posX);
      recuadro.push(posY);
      guardarContador();
    }
    else {
      posX = event.clientX - canvasLimites.left;
      posY = event.clientY - canvasLimites.top;
    }

    return {
      x:posX,
      y:posY
    };
  }

  function obtenerBounds(event){
    var width;
    var height;

    if (event.pageX || event.pageY) {
      width= (event.pageX- canvasLimites.left)-mbegin.x;
      height= (event.pageY- canvasLimites.top)-mbegin.y;
      // if (contam==0) {
      //   contam=1;
      //   recuadro.push(width+"|"+height);
      //   recuadros.push(recuadro);
      // }
    }
    else {
      width= (event.clientX - canvasLimites.left)-mbegin.x;
      height= (event.clientY - canvasLimites.top)-mbegin.y;
    }

    return {
      w:width,
      h:height
    };
  }

  function dibujarCuadro(){
    contexto.fillStyle="rgba(22,87,122,0.7)";
    contexto.fillRect(mbegin.x, mbegin.y,mend.w,mend.h);
  }
  prepareCanvas();
  </script>
  {% endblock jscrpt %}
