{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="">
      <div class="card">
        <div class="card-header" data-background-color="rose">
          <h4 class="card-title">Nuevo historial clinico</h4>
          <p class="category">Datos del paciente</p>
        </div>
        <div class="card-content">
          <form method="post" action="">{% csrf_token %}
            <div class="row">
              <div class="col-sm-6 col-md-offset-3">
                <div class="form-group label-floating">
                  <label class="control-label">{{ form.hc_cedula.label_tag }}</label>
                  {{ form.hc_cedula }}
                  {{ form.hc_cedula.errors }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-offset-3">
                <div class="form-group label-floating">
                  <label class="control-label">{{ form.hc_nombre.label_tag }}</label>
                  {{ form.hc_nombre }}
                  {{ form.hc_nombre.errors }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-offset-3">
                <div class="form-group label-floating">
                  <label class="control-label">{{ form.hc_apellido.label_tag }}</label>
                  {{ form.hc_apellido }}
                  {{ form.hc_apellido.errors }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-offset-3">
                <div class="form-group label-floating">
                  <label class="control-label">{{ form.hc_edad.label_tag }}</label>
                  {{ form.hc_edad }}
                  {{ form.hc_edad.errors }}
                </div>
              </div>
            </div>

            <div class="row ocul">
              <div class="col-md-6">
                <div class="form-group label-floating">
                  {{ form.hc_fecha.label_tag }}
                  {{ form.hc_fecha }}
                  {{ form.hc_fecha.errors }}
                </div>
              </div>
            </div>
            <div class="row ocul">
              <div class="col-md-6">
                <div class="form-group label-floating">
                  {{ form.hc_estado.label_tag }}
                  {{ form.hc_estado }}
                  {{ form.hc_estado.errors }}
                </div>
              </div>
            </div>
            <div class="row ocul">
              <div class="col-md-6">
                <div class="form-group label-floating">
                  {{ form.cedula.label_tag }}
                  {{ form.cedula }}
                  {{ form.cedula.errors }}
                </div>
              </div>
            </div>
            <div class="text-center">
              <a href="{% url 'historial_clinico' %}" class="btn btn-danger">Cancelar</a>
              <button type="submit" class="btn btn-success">Guardar</button>
              <div class="clearfix"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
{% block jscrpt %}
<script type="text/javascript">
$( document ).ready(function() {
  $("#id_cedula").val("{{user.cedula}}");
  $(".ocul").hide();
});

</script>
{% endblock jscrpt %}
