{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="">
      <div class="card">
        <div class="card-header" data-background-color="purple">
          <h4 class="card-title">Agregar imagen</h4>
          <p class="category">Mamografia del paciente</p>
        </div>
        <div class="card-content text-center">
          <form method="post" action="" class="form-horizontal" ENCTYPE="multipart/form-data">{% csrf_token %}

            <div class="row col-sm-offset-2">
              <div class="col-sm-4">
                <legend>Seleccione una mamografía</legend>
                <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                  <div class="fileinput-new thumbnail">
                    <img src="{% static 'img/image_placeholder.jpg' %}" alt="...">
                  </div>
                  <div class="fileinput-preview fileinput-exists thumbnail"></div>
                  <div>
                    <span class="btn btn-primary btn-round btn-file">
                      <span class="fileinput-new">Seleccionar imagen</span>
                      <span class="fileinput-exists">Cambiar</span>
                      {{ form.img_ruta }}
                      <span class="text-danger">{{ form.errors.img_ruta.as_text }}</span>
                    </span>
                    <a href="#" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Quitar</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="row">
                  <div class="form-group label-floating">
                    {{ form.hc_cedula.label_tag }}
                    {{ form.hc_cedula }}
                    <span class="text-danger">{{ form.errors.hc_cedula.as_text }}</span>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="form-group label-floating">
                    <label class="control-label">Descripcion de la imagen:</label>
                    {{ form.img_descripcion }}
                    <span class="text-danger">{{ form.errors.img_descripcion.as_text }}</span>
                  </div>
                </div>
              </div>
            </div>
            <a href="{% url 'imagen' %}" class="btn btn-danger pull-center">Cancelar</a>
            <button type="submit" class="btn btn-success pull-center">Guardar</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
{% block jscrpt %}
<script type="text/javascript">
//-----------------------------funcion apara vista previa-------------------------------------------
function archivo(evt) {
  var files = evt.target.files; // FileList object

  // Obtenemos la imagen del campo "file".
  for (var i = 0, f; f = files[i]; i++) {
    //Solo admitimos imágenes.
    if (!f.type.match('image.*')) {
      continue;
    }

    var reader = new FileReader();

    reader.onload = (function(theFile) {
      return function(e) {
        // Insertamos la imagen
        // document.getElementById("list").innerHTML = ['<img class="thumb" src="', e.target.result,'" title="', escape(theFile.name), '"/>'].join('');
        // alert('ruta:'+e.target.result+'');

        // $('#ver_ruta').val('ruta:'+e.target.result+'');
        // $('#canvas').css('background', 'url('+e.target.result+') ');
        // $('#canvas').css('background-size', '100% 100%');
        // $('#canvas').css('background', 'url('+e.target.result+')');
      };
    })(f);

    reader.readAsDataURL(f);
  }
}

document.getElementById('id_img_ruta').addEventListener('change', archivo, false);
//-------------------------------------------------------------------------------------------------
$("#id_img_ruta").change(function(e) {
  var x = document.getElementById("id_img_ruta");
  if ('files' in x) {
    if (x.files.length == 0) {
    } else {
      for (var i = 0; i < x.files.length; i++) {
        var file = x.files[i];
        if ('name' in file) {
          // $("#ver_ruta").val(""+file.name);
        }
      }
      // $("#ver_ruta").val(""+file.name);
    }
  }
});
</script>
{% endblock jscrpt %}
