{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header" data-background-color="purple">
          <h4 class="title">Agregar imagen</h4>
          <p class="category">Mamografia del paciente</p>
        </div>
        <div class="card-content">
          <form method="post" action="" ENCTYPE="multipart/form-data">{% csrf_token %}

            <div class="row">
              <div class="col-md-12">
                <div class="form-group label-floating">
                  {{ form.hc_id.label_tag }}
                  {{ form.hc_id }}
                  {{ form.hc_id.errors }}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group label-floating">
                  <button type="button" name="button" class="btn btn-primary">
                    Seleccionar archivo
                    {{ form.img_ruta }}
                  </button>
                </div>
              </div>
              <div class="col-md-4" style="margin-top:2%" >
                <input id="ver_ruta" type="text" value="" placeholder="Imagen de mamografia..." class="form-control" disabled/>
                {{ form.img_ruta.errors }}
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group label-floating">
                  <label class="control-label">Descripcion de la imagen:</label>
                  {{ form.img_descripcion }}
                  {{ form.img_descripcion.errors }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group label-floating">
                  {{ form.img_fecha.label_tag }}
                  {{ form.img_fecha }}
                  {{ form.img_fecha.errors }}
                </div>
              </div>
            </div>

            <button type="submit" class="btn btn-success pull-right">Guardar</button><a href="{% url 'imagen' %}" class="btn btn-danger pull-right">Cancelar</a>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
{% block jscrpt %}
<script type="text/javascript">
//-----------------------------funcion apara vista previa-------------------------------------------
function archivo(evt) {
  var files = evt.target.files; // FileList object

  // Obtenemos la imagen del campo "file".
  for (var i = 0, f; f = files[i]; i++) {
    //Solo admitimos imágenes.
    if (!f.type.match('image.*')) {
      continue;
    }

    var reader = new FileReader();

    reader.onload = (function(theFile) {
      return function(e) {
        // Insertamos la imagen
        // document.getElementById("list").innerHTML = ['<img class="thumb" src="', e.target.result,'" title="', escape(theFile.name), '"/>'].join('');
        // alert('ruta:'+e.target.result+'');

        // $('#ver_ruta').val('ruta:'+e.target.result+'');
        // $('#canvas').css('background', 'url('+e.target.result+') ');
        // $('#canvas').css('background-size', '100% 100%');
        // $('#canvas').css('background', 'url('+e.target.result+')');
      };
    })(f);

    reader.readAsDataURL(f);
  }
}

document.getElementById('id_img_ruta').addEventListener('change', archivo, false);
//-------------------------------------------------------------------------------------------------
$("#id_img_ruta").change(function(e) {
  var x = document.getElementById("id_img_ruta");
  if ('files' in x) {
    if (x.files.length == 0) {
    } else {
      for (var i = 0; i < x.files.length; i++) {
        var file = x.files[i];
        if ('name' in file) {
          $("#ver_ruta").val(""+file.name);
        }
      }
      $("#ver_ruta").val(""+file.name);
    }
  }
});
</script>
{% endblock jscrpt %}
