<!DOCTYPE html>
<html>
{% if user.is_authenticated %}
<script type="text/javascript">
setTimeout("window.location.href = '{%url 'inicio'%}'", 0,5);
</script>
{% endif %}
<head lang="es">
  {% load staticfiles %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>SCANM</title>
  <link type="image/x-icon" href="{% static 'img/logob.png' %}" rel="shortcut icon"/>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"/> -->
  {% block fuentes_iconos %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
  {% endblock fuentes_iconos %}
  {% block css %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/material-dashboard.css' %}">
  <link rel="stylesheet" href="{% static 'css/demo.css' %}">

  <!-- <link rel="stylesheet" href="{% static 'css/estiloss.css' %}"> -->
  {% endblock css %}
  {% block js %}
  <script src="{% static 'js/jquery-3.1.1.min.js' %}" ></script>
  <script src="{% static 'js/jquery-ui.min.js' %}" ></script>
  <script src="{% static 'js/bootstrap.min.js' %}" ></script>
  <script src="{% static 'js/material.min.js' %}" ></script>
  <script src="{% static 'js/perfect-scrollbar.jquery.min.js' %}" ></script>
  <script src="{% static 'js/jquery.validate.min.js' %}" ></script>
  <script src="{% static 'js/moment.min.js' %}" ></script>
  <script src="{% static 'js/chartist.min.js' %}" ></script>
  <script src="{% static 'js/jquery.bootstrap-wizard.js' %}" ></script>
  <script src="{% static 'js/bootstrap-notify.js' %}" ></script>
  <script src="{% static 'js/jquery.sharrre.js' %}" ></script>
  <script src="{% static 'js/bootstrap-datetimepicker.js' %}" ></script>
  <script src="{% static 'js/jquery-jvectormap.js' %}" ></script>
  <script src="{% static 'js/nouislider.min.js' %}" ></script>
  <script src="{% static 'js/jquery.select-bootstrap.js' %}" ></script>
  <script src="{% static 'js/jquery.datatables.js' %}" ></script>
  <script src="{% static 'js/sweetalert2.js' %}" ></script>
  <script src="{% static 'js/jasny-bootstrap.min.js' %}" ></script>
  <script src="{% static 'js/fullcalendar.min.js' %}" ></script>
  <script src="{% static 'js/jquery.tagsinput.js' %}" ></script>
  <script src="{% static 'js/material-dashboard.js' %}" ></script>
  <script src="{% static 'js/demo.js' %}" ></script>

  {% endblock js %}
</head>
<body class="" style="background-image: url('{% static 'img/fondo.jpg' %}'); background-size: cover; background-position: top center;">
  <div class="content">
    <div class="container-fluid">
      <div class="col-sm-8 col-sm-offset-2">
        <!--      Wizard container        -->
        <div class="wizard-container">
          <div class="card wizard-card" data-color="purple" id="wizardProfile">
            <form action="" method="post" onsubmit= "return validar_formulario()">{% csrf_token %}
              <!--        You can switch " data-color="purple" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
              <div class="wizard-header">
                <h3 class="wizard-title">
                  Crear cuenta o <a href="{% url 'login' %}">Iniciar sesión</a>
                </h3>
                <h5>Esta información nos permitirá saber mas de usted</h5>
              </div>
              <div class="wizard-navigation">
                <ul>
                  <li>
                    <a href="#about" data-toggle="tab">Datos personales</a>
                  </li>
                  <li>
                    <a href="#account" data-toggle="tab">Datos de contacto</a>
                  </li>
                  <li>
                    <a href="#address" data-toggle="tab">Credenciales de usuario</a>
                  </li>
                </ul>
              </div>
              <div class="tab-content">
                <div class="tab-pane" id="about">
                  <div class="row">
                    <h4 class="info-text"> Comencemos con la información básica</h4>
                    <div class="col-sm-4 col-sm-offset-1">
                      <div class="picture-container">
                        <div class="picture">
                          <img src="{% static '/img/default-avatar.png' %}" class="picture-src" id="wizardPicturePreview" title="" />
                          <input type="file" id="wizard-picture">
                        </div>
                        <h6>Escoga una foto</h6>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="material-icons">face</i>
                        </span>
                        <div class="form-group label-floating">
                          <label class="control-label">Nombres
                          </label>
                          {{ form.nombres }}
                          <span class="text-danger">{{ form.errors.nombres.as_text }}</span>
                        </div>
                      </div>
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="material-icons">perm_identity</i>
                        </span>
                        <div class="form-group label-floating">
                          <label class="control-label">Apellidos
                          </label>
                          {{ form.apellidos }}
                          <span class="text-danger">{{ form.errors.apellidos.as_text }}</span>
                        </div>
                      </div>
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="material-icons">supervisor_account</i>
                        </span>
                        <div class="form-group label-floating">
                          <label class="control-label">Sexo
                          </label>
                          {{ form.sexo }}
                          <span class="text-danger">{{ form.errors.sexo.as_text }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-10 col-lg-offset-1">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="material-icons">insert_invitation</i>
                        </span>
                        <div class="form-group label-floating">
                          <label class="control-label">Fecha de nacimiento
                          </label>
                          {{ form.fecha_de_nacimiento }}
                          <span class="text-danger">{{ form.errors.fecha_de_nacimiento.as_text }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="account">
                  <h4 class="info-text"> Con esta información estaremos en contacto </h4>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="material-icons">email</i>
                        </span>
                        <div class="form-group label-floating">
                          <label class="control-label">E-mail
                          </label>
                          {{ form.e_mail }}
                          <span class="text-danger">{{ form.errors.e_mail.as_text }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="material-icons">phone</i>
                        </span>
                        <div class="form-group label-floating">
                          <label class="control-label">Teléfono
                          </label>
                          {{ form.telefono }}
                          <span class="text-danger">{{ form.errors.telefono.as_text }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-10 col-lg-offset-1">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="material-icons">person_pin</i>
                        </span>
                        <div class="form-group label-floating">
                          <label class="control-label">Dirección
                          </label>
                          {{ form.direccion }}
                          <span class="text-danger">{{ form.errors.direccion.as_text }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="address">
                  <div class="row">
                    <div class="col-sm-12">
                      <h4 class="info-text"> Esto te permitirá acceder al sistema, asi que no olvides tus credenciales! </h4>
                    </div>
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                        <div class="input-group">
                          <span class="input-group-addon">
                            <i class="material-icons">featured_video</i>
                          </span>
                          <div class="form-group label-floating">
                            <label class="control-label">Cédula
                            </label>
                            {{ form.cedula }}
                            <span class="text-danger">{{ form.errors.cedula.as_text }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                        <div class="input-group">
                          <span class="input-group-addon">
                            <i class="material-icons">lock_outline</i>
                          </span>
                          <div class="form-group label-floating">
                            <label class="control-label">Contraseña
                            </label>
                            <input class="form-control" type="password" name="contra" id="contra" value="" >
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                        <div class="input-group">
                          <span class="input-group-addon">
                            <i class="material-icons">lock_outline</i>
                          </span>
                          <div class="form-group label-floating">
                            <label class="control-label">Repita su contraseña
                            </label>
                            <input class="form-control" type="password" name="contra_r" id="contra_r" value="" >
                            <span class="text-danger" id="err_contra">* Las claves no coinciden</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wizard-footer">
                <div class="pull-right">
                  <input type='button' class='btn btn-next btn-fill btn-primary btn-wd' name='next' value='Next' />
                  <input type='submit' class='btn btn-success btn-finish btn-fill btn-wd' name='finish' value='Finish' />
                </div>
                <div class="pull-left">
                  <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Previous' />
                </div>
                <div class="clearfix"></div>
              </div>
            </form>
          </div>
        </div>
        <!-- wizard container -->
      </div>
    </div>
  </div>
</body>
<script type="text/javascript">
type = ['','info','success','warning','danger'];
function validar_formulario() {
  if ($('#contra_r').val()==$('#contra').val())
  {
    return true;
    $("#err_contra").hide();
  }else{
    $("#err_contra").show();
    return false;
  }
}

$( document ).ready(function() {
  $("#err_contra").hide();
  $('#id_fecha_de_nacimiento').datetimepicker({
     format: 'YYYY-MM-DD',
     icons: {
         time: "fa fa-clock-o",
         date: "fa fa-calendar",
         up: "fa fa-chevron-up",
         down: "fa fa-chevron-down",
         previous: 'fa fa-chevron-left',
         next: 'fa fa-chevron-right',
         today: 'fa fa-screenshot',
         clear: 'fa fa-trash',
         close: 'fa fa-remove',
         inline: true
     }
  });
  demo.initMaterialWizard();
});
// function notificar(from, align, mssg, tip){
//     	color = tip;
//     	$.notify({
//         	icon: "error",
//         	message: mssg
//
//         },{
//             type: type[color],
//             timer: 3000,
//             placement: {
//                 from: from,
//                 align: align
//             }
//         });
// 	}

</script>
</html>
